body {
    padding-left: 0px;
    padding-right: 0px;
  margin: 0;
   // background-color: #444444;
   //  background-color: rgba(44,44,44,0.9);
    height: 100%;
}

#network {
  position: absolute; 
  top: 15px; 
  left: 50px; 
  z-index: 10;
  border: 1px solid #000;
  font-size: 14px;
  color: #fff;
  background: #444;
  padding: 5px;
}

html {
	height: 100%;
}

#share ul {
	margin: 0px;
}

#share li {
	list-style: none;
}

.float_left {
	float: left;
}

#map {
	position: absolute;
	float: left;
	top: 1%;
	height: 98%;
	width: 100%;
	z-index: 1;
}

.social_links {
	width: 100%;
}
	
#courier_logo img {
	width: 116px;
	float: right;
}

#sidebar {
	position: absolute;
	top: 2%;
	right: 1%;
	height: 96%;
	width: 30%;
	z-index: 2;
	border: 1px solid #999;
	background-color: #444444;
	background-color: rgba(44,44,44,0.9);
	color: #fff;
	padding-left: 1%;
	padding-right: 1%;
}

#sidebar h3 {
	line-height: 30px;
}

#sidebar_content {
	float: left;
	width: 30%;
	height: 70%;
	position: fixed;
	overflow: auto;
	padding-top: 5px;
}

#sidebar .options {
	float:left;
	line-height:23px;
	margin-bottom: 5px;
}

#sidebar .options span {
	height: 20px;
	width: 20px;
	margin-right: 5px;
	display: block;
	float: left;
}

#sidebar .one {
	background-color: #E41A1C;
	border: 1px solid #ffffff;
}
#sidebar .two {
	background-color: #253494;
	border: 1px solid #ffffff;
}
#sidebar .three {
	background-color: #8dc427;
	border: 1px solid #ffffff;
}

#sidebar .button {
    background-color: #737373;
    border: 1px solid #848484;
}

#sidebar .radio, .checkbox {
    padding: 0px;
}

#sidebar input, textarea, .uneditable-input {
    width: 20px;
}
#sidebar .radio input[type="radio"], #sidebar .checkbox input[type="checkbox"] {
	float: left;
	margin: 4px 0 0 0;
}

#sidebar .radio input[type="radio"], #sidebar .checkbox input[type="checkbox"] {
	margin: 0px\9;
}

.leaflet-popup-content-wrapper {
	border: 1px solid #999;
	background-color: #444444;
	background-color: rgba(44,44,44,0.9);
	color: #fff;
	font-size: 13px;
}

.leaflet-popup-tip {
	border: 1px solid #999;
	background-color: #444444;
	background-color: rgba(44,44,44,0.9);
	padding: 0px;
}

.leaflet-popup-close-button {
	color: #fff;
}

.popup_box_header {
    font-size: 16px;
}

hr {
	margin: 5px 0 5px 0;
}

.toggle_description, .toggle_img {
	display: none;
	z-index: 8;
	position: relative;
	float: right;
    right: 0%;
    top: 0%;
}

#description_box_cover, #img_box_cover {
	display: none;
	z-index: 10;
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
    background-color: #FFFFFF;
    background-color:rgba(255,255,255,0.7);
}

#description_box, #img_box {
	position: absolute;
	display: none;
	z-index: 11;
	width: 92%;
	height: 93%;
	padding-top: 1%;
	padding-left: 1%;
    padding-right: 1%;
    left: 2.5%;
    top: 2.5%;
    background-color: #444444;
    background-color:rgba(44,44,44,0.9);
    border: 1px solid #999;
    color: #FFFFFF;
}

#description_box h3, , #img_box h3 {
	padding-bottom: 0px;
	line-height: 15px;
}

#description_box_content, #img_box_content {
	width: 92%;
	height: 80%;
	position: fixed;
	overflow: auto;
}

#img_box_content img {
	max-width: 85%;
}

.x_button {
	width: 15px;
}

#scroll_more {
	display: none;
	color: #0088CC;
	padding-bottom: 10px;
}

#credits_box {
	display: none;
}

#credits {
  z-index: 8;
  position: absolute;
	bottom: 0px;
	right: auto;
	left: 0;
	width: 150px;
	background-color: #444444;
	background-color:rgba(44,44,44,0.9);
	color: #fff;
	font-size: 12px;
}

#credits p {
	line-height: 15px;
}

#credits span.help-block {
  color: whitesmoke;
  text-align: justify;
}

#credits a {
	color: #0088CC;
}

#credits_content {
	margin: 10px;
}

#toggle_credits {
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	line-height: 30px;
	width: 100%;
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
	display: none;
 }

.leaflet-control-zoom a {
    background-color: #444444;
    background-color: rgba(44,44,44,0.9);
    color: rgb(233,233,233);
    text-decoration: none;
}

.leaflet-bar-part {
    background-color: #444444;
    background-color: rgba(44,44,44,0.9);
}

.leaflet-bar-part:hover {
    background-color: #444444;
    background-color: rgba(44,44,44,0.9);
}


.leaflet-control-zoom a:hover {
    background-color: #444444;
    background-color: rgba(44,44,44,0.9);
    color: #C8C8C8;
	color: rgb(200,200,200);
    text-decoration: none;
}


.leaflet-control-zoom a.leaflet-control-zoom-disabled {
    background-color: #999999;
	background-color: rgba(99, 99, 99, 0.8);
}

.leaflet-right {
	left: 0;
	width: 50%;
	right: auto;
}

.leaflet-bottom {
    pointer-events: none;
    z-index: 1;
}

@media (max-width: 1200px) {
	#img_box_content img {
		max-width: 90%;
	}
}

@media (max-width: 1000px) {
	#img_box_content img {
		max-width: 95%;
	}
}

@media (max-width: 800px) {
	#img_box_content img {
		max-width: 100%;
	}
}

@media (max-width: 700px) {
	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}
}

@media (max-width: 700px) {
	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}
}

@media (max-width: 625px) {
	#map {
		cursor: default;
		border: 0px solid #737373;
		top: 0%;
		bottom: 0%;
		height: 100%;
		width: 100%;
	}
	
	#share {
		display: none;
	}
	
	#sidebar {
		position: relative;
		border-width: 0 0 1px;
		border-bottom: 1px solid #FFFFFF;
		background-color: #444444;
		margin-top: 0%;
		float: left;
		left: 0%;
		right: 0%;
		top: 0%;
		padding-left: 2%;
		padding-right: 2%;
		height: 35px;
		width: 96.5%;
	}

	#sidebar h3 {
    	line-height: 15px;
	}
	
	#sidebar h2, #description_box_header h2 {
		font-size: 20px;
	}

	#description_box_header h3 {
		line-height: 30px;
	}

	#img_box_header h3 {
    	line-height: 15px;
	}

	#sidebar_content {
		display: none;
	}

	#credits {
		display: none;
	}

	#courier_logo {
		display: none;
	}

	.toggle_description {
		display: inline;
	}

	.leaflet-top {
    	margin-top: 35px;
	}

	.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
		font-size: 9px;
	}
	
	.leaflet-container .leaflet-control-zoom {
    	margin: 5px;
	}

	.leaflet-bar {
		box-shadow: 0 0 0 rgba(0,0,0,0.4);
	}

	h1, h2, h3 {
    	line-height: 20px;
    	padding-bottom: 5px;
	}
}

@media (max-height: 500px) {

	#scroll_more {
		display: block;
	}

	#description_box_content, #sidebar_content, #img_content {
		height: 55%;
	}
}

@media (max-height: 400px) {
	#description_box_content, #sidebar_content, #img_content {
		height: 45%;
	}
}

@media (max-height: 300px) {
	#description_box_content, #sidebar_content, #img_content {
		height: 30%;
	}
}
